@charset "utf-8";

/*ν—¤λ”*/
#header{
    position:absolute;
    left:2%;
    top:30px;
    z-index:1;
}
.logo{}
.logo a{}
.logo img{}

/*ν‘Έν„°*/
#footer{
    background:#ef7b4a;    
    padding:80px 0;
    margin-top:150px;
}
#footer p{
    text-align:center;
    font-family:"GmarketSans", sans-serif;
    font-weight:200;
    color:#f8e8c6;
    line-height:30px;
}